
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    font-size: 75px;
    color: rgb(206,138,37);
}

.hero {
    //margin-top: 12px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,1)
    ),
     url(../images/pizza.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 350px;
}